{% extends "layout.html.twig" %}

{% block title %}
    PAGE D'ACCUEIL |
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include "Frontend/Home/_banner.html.twig"%}
        <div class="container mt-4">
            <div class="row">
                {% include 'Components/_articles.html.twig' %}
            </div>
        </div>
{% endblock %}
