<form method="post" action="{{ path('admin.article.comments.delete', {'id': comment.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer ce commentaire ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
